:root {
    --bg-color: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(3, 0, 15));
    --card-color: rgb(23, 23, 23);
    --title-color: rgb(214, 211, 230);
    --text-color: rgb(227, 225, 237);
}

header {
    diplay: flex;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgb(19, 17, 33,));
    text-align: center;
    width: 100%;
    margin: 0px;
    color: var(--title-color)
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--bg-color);
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 8px;
    height: calc(100% - 30px);
    max-width: 926px;
    width: calc(100% - 20px);
}

.card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 260px;
    width: 300px;
    border-radius: 10px;
    position: relative;
}


.carditems {
    
    margin: 10px;
}

#cardtitle {
    color: var(--text-color);
    font-style: bold;
}