:root {
    --bg-color: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(3, 0, 15));
    --card-color: rgb(23, 23, 23);
    --title-color: rgb(214, 211, 230);
    --text-color: rgb(227, 225, 237);
    --border-color: rgba(255, 255, 255, 0.1);
    --button-width: 150px;
    --button-height: 50px;
}

header {
    diplay: flex;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgb(19, 17, 33,));
    text-align: center;
    width: 100%;
    margin: 0px;
    color: var(--title-color)
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--bg-color);
    height: 100vh;
    justify-content: center;
    //overflow: hidden;
    padding: 0px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 8px;
    max-width: 926px;
    width: calc(100% - 20px);
    position: relative;
}

.card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 260px;
    width: 300px;
    border-radius: 10px;
    position: relative;
}

input {
    padding: 3px;
    color: var(--text-color);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    font-size: 1.2rem;
}

.button {
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    border: 2px solid var(--border-color);
    width: var(--button-width);
    height: var(--button-height);
    align-items: end;
}

.macaddress {
    position: relative;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1,2rem;
}

#genpsw {
    position: relative;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1,2rem;
}

#pswset {
    margin-top: 10px;
    color: var(--text-color);
}

.genpswset {
    width: 45px;
}

#txtgenpsw {
    margin-top: 10px;
}

#btngenpsw {
    margin-top: 80px;
}

.carditems {
    
    margin: 10px;
}

#cardtitle {
    color: var(--text-color);
    font-style: bold;
}

footer {
    align-items: end;
}