:root {
    --bg-color: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(3, 0, 15));
    --card-color: rgb(23, 23, 23);
    --title-color: rgb(214, 211, 230);
    --text-color: rgb(227, 225, 237);
    --border-color: rgba(255, 255, 255, 0.1);
    --button-width: 150px;
    --button-height: 50px;
}

header {
    /* display: flex; */
    text-align: center;
    width: 100%;
    margin: 0px;
    color: var(--title-color)
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--bg-color);
    height: 100vh;
    justify-content: center;
    /* overflow: hidden; */
    padding: 0px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 8px;
    max-width: 926px;
    width: calc(100% - 20px);
    position: relative;
}

/* #cardpasswordgenerator {
    height-min: 260px;
} */

.card {
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    min-height: 260px;
    width: 300px;
    border-radius: 10px;
    position: relative;
}

input {
    padding: 3px;
    color: var(--text-color);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    font-size: 1.2rem;
}

.button {
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--border-color);
    width: var(--button-width);
    height: var(--button-height);
}

.cardContent {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1,2rem;
}

#generatepassword {
    /* position: relative; */
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1,2rem;
}

#passwordsettings {
    margin-top: 10px;
    color: var(--text-color);
}

.generatepasswordset {
    width: 45px;
}

#txtgeneratepassword {
    margin-top: 10px;
}

#btngeneratepassword {
    margin-top: 80px;
}

#btnmacaddress {
	margin-top: 30px;
}

.carditems {    
    margin: 10px;
}

#cardtitle {
    color: var(--text-color);
    font-style: bold;
}

footer {
    align-items: end;
}

.cidrtxt {
	color: white;
	text-align: center;
	line-height: 15px;
}